<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 + xml >> 객체화 -->
<mapper namespace="com.green.firstserver.MemoMapper">
    <!-- id는 인터페이스의 메소드명과 연결    -->
    <insert id="insMemo">
        INSERT INTO memo
        SET title = #{title}
           ,content = #{content}
    </insert>

    <select id ="selMemoList">
        SELECT id, title, content
        FROM memo
        ORDER BY id DESC
    </select>

    <select id="selMemo">
        SELECT title,content, created_at AS createdAt
        FROM memo
        Where id = #{id}
    </select>

    <!-- 수정  -->
    <update id="updMemo">
        UPDATE memo
        Set title= #{title}
          , content= #{content}
        Where id = #{id}

    </update>

    <delete id ="delMemo">
        DELETE
        FROM memo
        WHERE id = #{id}
    </delete>
</mapper>